--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
pymongo
python-dotenv
langchain-chroma
langchain-groq
langchain-cohere
langchain
langchain-community
langchain-core
langgraph
chromadb